<nav style="background-color: powderblue;">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/new">New</a>
    <a href="/product">Product</a>
    <a href="/promotion">Promotion</a>
</nav>